.header {
  background-color: rgb(93, 94, 182);
  height: 30%;
  display: flex;
}

.logo {
  background-color: rgb(93, 94, 182);
  min-width: 75px;
  min-width: 75px;
  width: 10%;
  height: 80%;
  background-image: url(../../img/logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px;
}

.headline {
  font-size: 35px;
  color: rgb(192, 211, 228);
  font-weight: 600;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
