.header {
  width: 80%;
  height: 120px;
  margin: 30px auto;
  flex-direction: row;
  border-radius: 10px;
  background-color: #e2e9eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
