.wrap {
  margin: 0 auto;
  // background: radial-gradient(at bottom, #a9bdd4, #073146);
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.switchBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.switchBtn {
  height: 2.8rem;
  border-radius: 10px;
}
a {
  color: azure;
  font-size: 1.5rem;
  font-weight: 500;
  color: azure;
  text-decoration: none;
}
