.wrap {
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 10px;
}

.button {
  max-height: 40px;
}
