.wrap {
  height: 120px;
  font-size: 25px;
  font-weight: bold;
}

.balance {
  padding-right: 25px;
}
.percentage {
  font-size: 20px;
  color: green;
}
.percentageMinus {
  color: red;
}
.percentagePlus {
  color: green;
}
