td {
  position: relative;
}

// .price::before {
//   content: "$";
//   position: absolute;
//   left: 28%;
//   font-weight: 500;
// }
.marketCap::after {
  font-weight: 600;
  content: "$";
  position: absolute;
  right: 28%;
}

.row {
  text-align: center;
}

.rank {
  width: 9%;
}
.img {
  width: 30px;
  height: 30px;
}
