td {
  position: relative;
}

// .price::before {
//   content: "$";
//   position: absolute;
//   left: 28%;
//   font-weight: 500;
// }
.marketCap::after {
  font-weight: 600;
  content: "$";
  position: absolute;
  right: 20%;
}

.price_change_percentage_24h {
  // font-weight: 600;
  &::after {
    content: "%";
    position: absolute;
    right: 39%;
  }
}

.row {
  text-align: center;
}

.rank {
  width: 9%;
}
.img {
  width: 30px;
  height: 30px;
}

.percentageMinus {
  color: red;
}
.percentagePlus {
  color: green;
}
