td {
  position: relative;
}

.price::before {
  content: "$";
  position: absolute;
  left: 28%;
  font-weight: 500;
}
.marketCap::before {
  font-weight: 600;
  content: "$";
  position: absolute;
  left: 32%;
}

.row {
  text-align: center;
}

.rank {
  width: 8%;
}
